@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body{
    width: 310px;
    font-family: "Nanum Gothic",sans-serif;
    cursor:default
}
#search{
    padding-left: 40;
}
#icon-link-list
{
    padding-left: 0;
}
#icon-link-list > li{
    display:inline-block;
    position:relative;
    top:10px;
    left:10px;
}
#icon-link-list > li > a{
    display:block;
    position:relative;
    padding-bottom: 19px;
    margin:10px;
}
#icon-link-list>li>a>img{
    width:50px;height:50px;
}
#icon-link-list>li>a:hover{
    filter:brightness(90%);
}
#icon-link-list>li>a>span{
    position:absolute;
    bottom: 0;
    left: 50%;
    color:#666;
    line-height:1.462em;
    white-space: nowrap;
    transform: translate(-50%,0);
}