@import url(https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css);

*{
    font-family: "NanumGothic",sans-serif;
}
body{
    width: 310px;
    cursor:default;
}
#search{
    padding-left: 40;
}
#search input{
    border: none;
    border-radius: 5px;
    outline: 0.5px solid whitesmoke;
    padding: 10px;
}:focus{
    outline: none;
}
#search button{
    border: none;
    border-radius: 5px;
    padding: 10px;
    outline: 0.5px solid whitesmoke;
    background-color: whitesmoke;
    cursor: pointer;
}
#icon-link-list
{
    padding-left: 0;
}
#icon-link-list > li{
    display:inline-block;
    position:relative;
    top:10px;
    left:10px;
}
#icon-link-list > li > a{
    display:block;
    position:relative;
    padding-bottom: 20px;
    margin:10px;
}
#icon-link-list>li>a>img{
    width:50px;height:50px;
    border-radius: 5px;
}
#icon-link-list>li>a:hover{
    filter:brightness(90%);
}
#icon-link-list>li>a>span{
    font-size: 13;
    position:absolute;
    bottom: 0;
    left: 50%;
    color:#666;
    line-height:1.462em;
    white-space: nowrap;
    transform: translate(-50%,0);
}